
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
          <%= simple_form_for(@pill, url: api_pills_path, html: {class: 'form-horizontal'}) do |f| %>
              <%= f.input :user_id, as: :hidden, input_html: { value: params[:user_id] } %>
              <%= f.input :image_path, as: :file, placeholder: 'Image', wrapper: nil, label: 'Image', input_html: {class: 'form-control' } %>
              <%= f.input :name, wrapper: nil, label: 'Name', input_html: {class: 'form-control'} %>
              <%= f.input :number, wrapper: nil, label: 'Number', input_html: {class: 'form-control'} %>
              Week<br>
              <%= f.input :days_of_week, wrapper: nil, label: 'Number', input_html: {class: 'form-control'} %>
              <%= f.input :time, collection: Pill::TIME, wrapper: nil, label: 'Time', input_html: {class: 'form-control'} %>
              <%= f.input :notes, wrapper: nil, label: 'Notes', input_html: {class: 'form-control'}, as: :text %>
              <br>
              <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
          <% end %>
        </div>
    </div>
</div>

<script>

</script>